In [ ]:
import sqlite3
conn = sqlite3.connect("sqlite_curso.db")
mycursor = conn.cursor()

In [ ]:
mycursor.execute("CREATE TABLE IF NOT EXISTS customers (name VARCHAR(255), address VARCHAR(255), age INT)")

In [ ]:
sql = "INSERT INTO customers (name, address, age) VALUES (?, ?, ?)"
val = [
  ('Peter', 'Lowstreet 4', 120),
  ('Amy', 'Apple st 652', 200),
  ('Hannah', 'Mountain 21', 20),
  ('Michael', 'Valley 345', 40),
  ('Sandy', 'Ocean blvd 2', 30),
  ('Betty', 'Green Grass 1', 50),
  ('Richard', 'Sky st 331', 82),
  ('Susan', 'One way 98', 240),
  ('Vicky', 'Yellow Garden 2', 10),
  ('Ben', 'Park Lane 38', 18),
  ('William', 'Central st 954', 2),
  ('Chuck', 'Main Road 989', 15),
  ('Viola', 'Sideway 1633', 20)
]

mycursor.executemany(sql, val)

print(mycursor.rowcount, "record(s) inserted.")

In [ ]:
mycursor.execute("SELECT * FROM customers WHERE address LIKE '%st%'")
mycursor.fetchall()

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_sql_query ("SELECT name, address FROM customers WHERE address LIKE '%way%'", conn)
print(df)

In [ ]:
!rm sqlite_curso.db